* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-weight: 500;
    line-height: 1.5;
    background-color: antiquewhite;
    color: #41225A
}

.ice_lemon {
    display: block;
    margin: auto;
    height: 600px;
    border: 1px solid whitesmoke
}

.nasi_goreng_tomyam {
    display: block;
    margin: auto;
    height: 600px;
    border: 1px solid whitesmoke;
}

li {
    list-style-type: none;
}

table,
th,
td,
tr {
    border: 2px solid;
    border-color: rgb(4, 163, 211);
    border-collapse: collapse;
    padding: 0.5rem;
    color: #261138;
    text-align: center;
    margin: auto;
}

.headlineMain,
.headlineRecipe {
    text-align: center;
    font-variant: small-caps;
}

.indexImg {
    display: block;
    margin: auto;
    height: 400px;
    width: auto;
    padding: 8px;
}

.centeredLink {
    text-align: center;
    font-weight: bold;
}

.descIce {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 18px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    font-variant: small-caps;
    font-style: italic;
}

.descIce2 {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 10px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    font-variant: small-caps;
    font-style: italic;
}

.lemonList {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

}

table {
    margin-bottom: 25px;
    margin-top: 15px;
}

hr {
    border-bottom: 1px solid;

}

.social-icons-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.social-icons {
    display: flex;
    width: 900px;
    justify-content: space-between;
    border: 1px solid black;
}