* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-weight: 500;
    line-height: 1.5;
    background-color: antiquewhite;
    color: #41225A
}

.ice_lemon {
    display: block;
    width: 30%;
}

.nasi_goreng_tomyam {
    display: block;
    width: 30%;
}

li {
    list-style-type: none;
}

table,
th,
td,
tr {
    border: 4px solid;
    border-color: rgb(133, 109, 109);
    border-collapse: collapse;
    padding: 0.5rem;
    color: #261138
}

.headlineMain,
.headlineRecipe {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    height: 400px;
    width: auto;
    padding: 8px;
}

.centeredLink {
    text-align: center;
    font-weight: bold;
}