body {
    font-family: monospace;
    font-weight: 500;
    line-height: 1.5;
    background-color: antiquewhite;
    color: #41225A
}

.ice_lemon {
    display: block;
    width: 30%;
}

li {
    list-style-type: none;
}

table,
th,
td,
tr {
    border: 4px solid;
    border-color: rgb(133, 109, 109);
    border-collapse: collapse;
    padding: 0.5rem;
    color: #261138
}